/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-03-2017, 10:27:28 PM
    Author     : MipcHP
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:200);
@import url(fontello.css);
@import url(fontello-embedded.css);
@import url(fontello-codes.css);

.noborder{
    border-radius: 0%;
}

.inputl{
    border:0px;
    font-family: raleway;
    padding: 3px;
    margin: 10px;
    border-bottom: 1px #003333;
    }

.fondo{
    background: url('../img/dinero.jpg');
    background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.fondoblanco{
    background-color: white;
}

.blanco{
    color: white;
    text-decoration: none;
}